.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
  }
  
.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__shopping > button {
  display: flex;
  background-color: #ffdf5c;
  border: 1px solid;
  border-radius: 5px;
  border-color:#ffdf5c ;
  border-color: #a99734 #9c7e31 #846a29; 
  padding: 5px;
  margin-top: 10px;
}

.checkout__shopping > button:hover {
  cursor: pointer;
  background-color: #eec933;
}