.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo {
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchIcon {
    padding: 8px;
    height: 23px !important; 
    background-color: #ffdf5c;
    border-radius: 5px;
}

.header__searchIcon:hover {
    cursor: pointer;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__navLeft {
    display: inline-flex;
    align-items: center;
}

.header__optionLineOne {
    font-size: 10px;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionCart {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
}

.header__cartCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionExit {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header__actionButtons {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header__actionCancelButton {
    margin-top: 10px;
}

.header__google {
    margin-left: 10px;
    margin-right: 10px;
}


@media (max-width: 400px) {

    .header__logo {
        width: 70px;
        margin-top: 8px;
        margin-left: 5px;
        margin-right: 5px;
        object-fit: contain;
    }

    .header__optionCart {
        margin-left: 5px;
        margin-right: 5px;
    }

    .header__cartCount {
        margin-left: 2px;
        margin-right: 2px;
    }

    .header__optionExit {
        margin-left: 2px;
        margin-right: 2px;
    }

    .header__searchIcon {
        padding: 4px;
        height: 23px; 
    }

    .header__search {
        align-items: center;
        flex: 0.7;
    }

    .header__option {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .header__optionLineOne {
        font-size: 7px;
        margin-bottom: 7px;
    }
    
    .header__optionLineTwo {
        font-size: 8px;
        font-weight: 800;
    }

    .header__navLeft {
        flex-direction: column;
    }

    /* .header__optionLineOne {
        align-items: center;
    } */
}