.home {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: block;
}

.home__image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -150px;
    height: 450px;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__rowFlex {
    display: inline-flex;
    margin: auto;
}


@media (max-width: 400px) {
    .home {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: block;
        justify-content: center;
    }

    .home__image {
        height: 300px;
        width: 360px auto;
        display: inline-flex;
        justify-content: center;
    }

    .home__rowFlex {
        display: inline-flex;
        flex-direction: column;
    }
}