.inputSearch {
    outline: none;
    height: 15px;
    padding: 9px;
    border: solid 3.3px white;
    width: 100%;
    border-radius: 5px
}

.inputSearch:focus {
    border: solid 3.3px;
    border-color: #eec933
} 

@media (max-width: 400px) {
    .inputSearch {
        height: 8px;
        width: 50%;
    }
}