.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #ffdf5c;
    border: 1px solid;
    border-radius: 5px;
    border-color:#ffdf5c ;
    border-color: #a99734 #9c7e31 #846a29; 
    padding: 5px;
}

.product > button:hover {
    cursor: pointer;
    background-color: #eec933;
}



@media (max-width: 400px) {
    .product {
        /* max-height: 250px; */
        /* min-width: 60px; */
        /* margin-left: 30px; */
        width: 210px;
    }

    .product > img {
        max-height: 110px;
        margin-bottom: 5px;
    }
}